.container {
    max-width: 90%;
    margin: 0 auto;
}

.cards-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.error {
    color: hsl(0, 100%, 50%, 0.4);
}

/* Search form */