.container {
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.cards-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}


.error {
    color: hsl(0, 100%, 50%, 0.4);
}

.panel-actions {
    max-width: 90%;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.panel-actions input#search {
    font-family: 'Nunito Sans', sans-serif ;
    padding: 10px;
    border-radius: 6px;
    border: 0.5px solid hsl(var(--dark-blue));
}

.panel-actions select {
    font-family: 'Nunito Sans', sans-serif ;
    padding: 10px;
    border-radius: 6px;
    border: 0.5px solid hsl(var(--dark-blue));
}