.card {
    background-color: hsl(var(--almost-white));
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 17%;
    color: var(--dark-blue);
    height: 350px;
    padding: 0.1rem;
    text-align: center;
    box-shadow: 5px 5px 5px hsl(var(--dark-blue), 0.2), -5px -5px 5px hsl(var(--dark-blue), 0.2);
}

img {
    display: block;
    max-height: 7rem;
    max-width: 14rem;
    border: 1px solid hsl(var(--dark-blue));
    border-radius: 10px;

}


