.pagination-container {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
}

.pagination-item {
    padding: 0.6rem;
}

.pagination-item  {
    color: hsl(var(--dark-blue));
    font-weight: 900;
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
    margin: 0.5rem
}


.active {
    background-color: hsl(var(--light-grey), .2);
}