:root {
  --dark-blue: 209, 23%, 22%;
  --dark-grey: 207, 26%, 17%;
  --light-grey: 0, 0%, 52%;
  --almost-white: 0, 0%, 98%;
  --white: 0, 0%, 100%;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--light-grey), 0.1);
}

* {
  box-sizing: border-box;
}


code {
  font-family: Nunito Sans,
    monospace;
}
